/*   Assignment: Launch Library
     CSS Page of Launch Library
     Author: Audrey Harmon
     Date: October 15, 2022
*/

html {
    background-image: url(background.jpg);
    background-size: cover;
}

body {
    background-color: transparent;
    text-align: center;
    margin: auto;
}

#launch_btn {
    border: none;
    background-color: white;
}

#astro_btn {
    border: none;
    background-color: white;
}

#library_btn {
    border: none;
    background-color: white;
}

#library-image {
    max-height: 500px;
    width: auto;
    padding-top: 50px;
}

#launch-image {
    max-width: 100%;
    height: auto;
    max-height: 250px;
    text-align: center;
    margin: auto;
}

#astro-image {
    max-width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
}

.container-fluid {
    background-color: black;
    color: white;
    box-shadow: 2px 2px 10px white;
}

.row {
    box-shadow: 2px 2px 10px black;
    padding-top: 35px;
}

.col-sm {
    margin: auto;
    text-align: center;
    border-left: 2px solid white;
}
